In [23]:
from datetime import date
from flask import Flask, render_template, request, url_for
import string
import pandas as pd
from sqlalchemy import create_engine

pd.options.display.max_rows = 100
tx = pd.read_excel('Records.xlsx', usecols="A:K")
# tx.fillna("N/A", inplace = True)
# tx.drop_duplicates(inplace = True)
# d = list(tx.values.tolist()) 

print(tx)

#print(tx.index.values)
# for x in tx.index.values:
# for y in tx.columns.values:
#     print(tx)

# v = input('Enter the Major: ')	
# tx.loc[tx.isin([v]).any(axis=1)]

# o = list()
# for x in tx.index.values:
#     for y in tx.columns.values:
#         o.append(tx.at[x,y])

# for z in o:
#     print(z)

# SQL QUERIES in python
# {% endfor %} {% for y in tx.index.values %}
# engine = create_engine("sqlite:///:memory:")
    # tx.to_sql(name='dato',con=engine)
    # with engine.connect() as conn, conn.begin():  
    #     # data = pd.read_sql_table('dato', engine)
    #     qr = pd.read_sql_query(
    #         SELECT *
    #         FROM dato
    #         WHERE Major = "Computer Science"
    #         , engine)

      ID             Name  Age   Highest Degree Earned  \
0      1   Aiden Martinez   29              Bachelor's
1      2     Katia Petrov   32                Master's
2      3        Raj Patel   27                     PhD
3      4     Maya Johnson   34     High School Diploma
4      5      Kwame Nkosi   31             Certificate
..   ...              ...  ...                     ...
495  496       Omar Saeed   29     High School Diploma
496  497     Lucy Johnson   32             Certificate
497  498  Daniel Martinez   28  Non-Traditional Degree
498  499        Aisha Ali   30                     PhD
499  500     Kelvin Brown   34              Bachelor's

                       Major State          Occupation  Income Car Brand  \
0           Computer Science    CA   Software Engineer   95000    Toyota
1    International Relations    NY            Diplomat  110000       BMW
2               Neuroscience    TX  Research Scientist  130000      Audi
3                        NaN    FL      Retail Manager   55000      Ford
4                 IT Support    GA       IT Technician   62000     Honda
..                       ...   ...                 ...     ...       ...
495                      NaN    TX     Sales Executive   50000      Ford
496           Fashion Design    FL    Fashion Designer   58000   Hyundai
497          Web Development    CA       Web Developer   59000    Toyota
498             Neuroscience    TX      Neuroscientist  105000      Audi
499             Architecture    FL           Architect   78000       BMW

     Housing Situation  Rent
0           Live Alone  1800
1           Live Alone  2200
2           Live Alone  2500
3    Live with Partner  1400
4           Live Alone  1300
..                 ...   ...
495         Live Alone  1200
496         Live Alone  1300
497         Live Alone  1200
498         Live Alone  2000
499         Live Alone  1600

[500 rows x 11 columns]

In [1]:
import pandas as pd

url = "https://finance.yahoo.com/markets/"
pd.read_html(url)

[                      Name  Day Chart                        Price Change %
 0                  S&P 500        NaN      5,638.43 +3.85 (+0.07%)   +0.07%
 1                   Dow 30        NaN    41,570.86 -35.32 (-0.08%)   -0.08%
 2                   Nasdaq        NaN    17,650.94 +22.88 (+0.13%)   +0.13%
 3             Russell 2000        NaN     2,205.48 +16.31 (+0.74%)   +0.74%
 4                      VIX        NaN         18.26 +0.65 (+3.69%)   +3.69%
 5                 IBOVESPA        NaN  134,721.33 -238.86 (-0.18%)   -0.18%
 6  S&P/TSX Composite index        NaN    23,626.41 -51.29 (-0.22%)   -0.22%
 7          US Dollar Index        NaN        100.72 -0.18 (-0.18%)   -0.18%,
                     Name  Day Chart                      Price Change %
 0               FTSE 100        NaN   8,264.20 -45.66 (-0.55%)   -0.55%
 1                 CAC 40        NaN   7,466.94 -20.48 (-0.27%)   -0.27%
 2  DAX PERFORMANCE-INDEX        NaN  18,756.37 +30.29 (+0.16%)   +0.16%
 3     Euronext 100 Index        NaN    1,467.92 -4.96 (-0.34%)   -0.34%
 4         ESTX 50 PR.EUR        NaN   4,848.66 -12.12 (-0.25%)   -0.25%
 5            MSCI EUROPE        NaN    2,187.58 -5.39 (-0.25%)   -0.25%
 6    British Pound Index        NaN      132.48 +0.85 (+0.65%)   +0.65%
 7             Euro Index        NaN      111.38 +0.22 (+0.20%)   +0.20%,
                       Name  Day Chart                       Price Change %
 0      SSE Composite Index        NaN    2,717.28 +13.19 (+0.49%)   +0.49%
 1               Nikkei 225        NaN  36,380.17 +176.95 (+0.49%)   +0.49%
 2                Hang Seng        NaN  17,660.02 +237.90 (+1.37%)   +1.37%
 3        S&P/ASX 200 [XJO]        NaN     8,142.10 +1.20 (+0.01%)   +0.01%
 4    KOSPI Composite Index        NaN     2,575.41 +3.32 (+0.13%)   +0.13%
 5           S&P BSE SENSEX        NaN  82,948.23 -131.43 (-0.16%)   -0.16%
 6       Japanese Yen Index        NaN        70.49 +0.25 (+0.35%)   +0.35%
 7  Australian Dollar Index        NaN        67.82 +0.25 (+0.37%)   +0.37%,
                               Name  Day Chart                    Price  \
 0                        Crude Oil        NaN     70.74 -0.45 (-0.63%)
 1                             Gold        NaN  2,601.90 +9.50 (+0.37%)
 2                           Silver        NaN     30.90 -0.08 (-0.27%)
 3                    Copper Dec 24        NaN  4.2885 +0.0155 (+0.36%)
 4               Natural Gas Oct 24        NaN  2.3530 +0.0290 (+1.25%)
 5  Brent Crude Oil Last Day Financ        NaN     73.28 -0.42 (-0.57%)

   Change %
 0   -0.63%
 1   +0.37%
 2   -0.27%
 3   +0.36%
 4   +1.25%
 5   -0.57%  ,
       Name  Day Chart                      Price Change %
 0  EUR/USD        NaN    1.1140 +0.0022 (+0.20%)   +0.20%
 1  USD/JPY        NaN  141.8610 -0.4770 (-0.34%)   -0.34%
 2  USD/GBP        NaN    0.7548 -0.0050 (-0.66%)   -0.66%
 3  USD/AUD        NaN    1.4744 -0.0048 (-0.33%)   -0.33%
 4  USD/CAD        NaN    1.3581 -0.0013 (-0.10%)   -0.10%
 5  USD/MXN        NaN   19.1903 +0.1106 (+0.58%)   +0.58%,
                    Name  Day Chart                    Price Change %
 0            13-Wk Bond        NaN  4.7430 +0.0080 (+0.17%)   +0.17%
 1             5-Yr Bond        NaN  3.4720 +0.0390 (+1.14%)   +1.14%
 2            10-Yr Bond        NaN  3.6810 +0.0390 (+1.07%)   +1.07%
 3            30-Yr Bond        NaN  3.9940 +0.0410 (+1.04%)   +1.04%
 4      2 Yr Yld Futures        NaN  3.5640 +0.0420 (+1.19%)   +1.19%
 5  10 Yr T-Note Futures        NaN    115.14 -0.23 (-0.20%)   -0.20%,
                             Symbol                  Price  Change Change %  \
 0          NVDA NVIDIA Corporation  115.24 -0.35 (-0.30%)   -0.35   -0.30%
 1           INTC Intel Corporation   21.55 +0.08 (+0.35%)    0.08   +0.35%
 2                 TSLA Tesla, Inc.  228.48 +0.61 (+0.27%)    0.61   +0.27%
 3  PLTR Palantir Technologies Inc.   36.26 -0.19 (-0.52%)   -0.19   -0.52%

     Volume Avg Vol (3M) Market Cap  P/E Ratio (TTM) 52 Wk Change %  \
 0  21.654M     341.231M     2.827T            53.85        173.66%
 1   7.767M      72.589M    92.126B            89.77        -38.11%
 2   6.657M      95.875M   729.912B            64.36        -13.22%
 3   6.414M      50.487M    81.202B           213.29        147.29%

    52 Wk Range  Day Chart
 0          NaN        NaN
 1          NaN        NaN
 2          NaN        NaN
 3          NaN        NaN  ,
                           Symbol                        Price      Change  \
 0            BTC-USD Bitcoin USD   59,687.46 +578.64 (+0.98%)  578.640000
 1           ETH-USD Ethereum USD     2,300.53 -19.74 (-0.85%)  -19.740000
 2       USDT-USD Tether USDt USD      1.0005 +0.0005 (+0.05%)    0.000500
 3                BNB-USD BNB USD        540.47 -1.86 (-0.34%)   -1.860000
 4             SOL-USD Solana USD        129.22 -2.85 (-2.16%)   -2.850000
 5          USDC-USD USD Coin USD      1.0003 +0.0002 (+0.02%)    0.000200
 6                XRP-USD XRP USD  0.567745 -0.015523 (-2.66%)   -0.015523
 7  STETH-USD Lido Staked ETH USD     2,304.86 -14.62 (-0.63%)  -14.620000

   Change %  Day Chart Market Cap   Volume Volume In Currency (24hr)  \
 0   +0.98%        NaN     1.179T  38.861B                   38.861B
 1   -0.85%        NaN   276.853B   15.96B                    15.96B
 2   +0.05%        NaN   118.904B  57.637B                   57.637B
 3   -0.34%        NaN    78.873B   1.557B                    1.557B
 4   -2.16%        NaN    60.522B   1.774B                    1.774B
 5   +0.02%        NaN    35.554B   6.718B                    6.718B
 6   -2.66%        NaN    32.013B   1.014B                    1.014B
 7   -0.63%        NaN    22.526B  71.632M                   71.632M

   Total Volume All Currencies (24hr) Circulating Supply 52 Wk Change %  \
 0                            38.861B            19.756M        122.28%
 1                             15.96B           120.343M         44.29%
 2                            57.637B           118.841B         -0.01%
 3                             1.557B           145.934M        154.71%
 4                             1.774B           468.369M        547.81%
 5                             6.718B            35.542B         -0.03%
 6                             1.014B            56.386B         12.11%
 7                            71.632M             9.773M         43.85%

    52 Wk Range
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN  ,
                                                Name                 Price  \
 0                 SQQQ ProShares UltraPro Short QQQ   8.26 -0.02 (-0.30%)
 1           TSLL Direxion Daily TSLA Bull 2X Shares  10.74 +0.06 (+0.56%)
 2  SOXL Direxion Daily Semiconductor Bull 3X Shares  32.47 +0.31 (+0.98%)
 3  SOXS Direxion Daily Semiconductor Bear 3X Shares  23.95 -0.20 (-0.83%)
 4                       TQQQ ProShares UltraPro QQQ  66.77 +0.28 (+0.42%)

   Change %
 0   -0.30%
 1   +0.56%
 2   +0.98%
 3   -0.83%
 4   +0.42%  ,
                                          Name                    Price  \
 0          HZEN Grayscale Horizen Trust (ZEN)  3.5000 +0.3000 (+9.37%)
 1  FLYU MicroSectors Travel 3X Leveraged ETNs     37.71 +1.77 (+4.91%)
 2                   OBTC Osprey Bitcoin Trust     19.49 +0.89 (+4.78%)
 3   WTIU MicroSectors Energy 3X Leveraged ETN     14.21 +0.62 (+4.56%)
 4           XPP ProShares Ultra FTSE China 50     14.82 +0.62 (+4.40%)

   Change %
 0   +9.37%
 1   +4.91%
 2   +4.78%
 3   +4.56%
 4   +4.40%  ,
                                                 Name                    Price  \
 0                GLIV Grayscale Livepeer Trust (LPT)    14.00 -1.95 (-12.23%)
 1  IRESF iShares Public Limited Company - iShares...      7.00 -0.44 (-5.91%)
 2  FLYD MicroSectors Travel -3X Inverse Leveraged...     26.58 -1.46 (-5.21%)
 3                     ETHT Proshares Ultra Ether ETF     11.90 -0.58 (-4.65%)
 4        ETHU Volatility Shares Trust - 2x Ether ETF  4.5650 -0.2150 (-4.50%)

   Change %
 0  -12.23%
 1   -5.91%
 2   -5.21%
 3   -4.65%
 4   -4.50%  ,
                                               Name                  Price  \
 0       BBUS JPMorgan BetaBuilders U.S. Equity ETF  101.65 +0.05 (+0.05%)
 1                  SPLG SPDR Portfolio S&P 500 ETF   66.25 +0.02 (+0.04%)
 2         ILCB iShares Morningstar U.S. Equity ETF   77.73 -0.03 (-0.04%)
 3  SCHR Schwab Intermediate-Term U.S. Treasury ETF   50.75 -0.10 (-0.20%)
 4              STIP iShares 0-5 Year TIPS Bond ETF  101.11 -0.07 (-0.06%)

   Change %
 0   +0.05%
 1   +0.04%
 2   -0.04%
 3   -0.20%
 4   -0.06%  ,
                                                 Name                  Price  \
 0   SOXL Direxion Daily Semiconductor Bull 3X Shares   32.47 +0.31 (+0.98%)
 1      TECL Direxion Daily Technology Bull 3X Shares   80.04 -0.32 (-0.40%)
 2  NAIL Direxion Daily Homebuilders & Supplies Bu...  163.00 -2.08 (-1.26%)
 3                        TQQQ ProShares UltraPro QQQ   66.77 +0.28 (+0.42%)
 4     FNGU MicroSectors FANG+ Index 3X Leveraged ETN  387.19 -0.50 (-0.13%)

   Change %
 0   +0.98%
 1   -0.40%
 2   -1.26%
 3   +0.42%
 4   -0.13%  ,
                                                 Name                 Price  \
 0               FBZ First Trust Brazil AlphaDEX Fund  11.70 +0.24 (+2.09%)
 1  PXE Invesco Dynamic Energy Exploration & Produ...  30.28 +0.59 (+1.99%)
 2       RSPG Invesco S&P 500 Equal Weight Energy ETF  76.93 +1.16 (+1.52%)
 3                   FLHK Franklin FTSE Hong Kong ETF  16.83 +0.17 (+1.00%)
 4      FILL iShares MSCI Global Energy Producers ETF  24.58 +0.24 (+0.97%)

   Change %
 0   +2.09%
 1   +1.99%
 2   +1.52%
 3   +1.00%
 4   +0.97%  ,
                                                 Name                  Price  \
 0          0P00018TL9 BMG Silver BullionFund Class A    8.89 +0.61 (+7.39%)
 1       OEPIX Oil Equipment&Svcs UltraSector Pro Inv   95.43 +4.57 (+5.03%)
 2       OEPSX Oil Equipment&Svcs UltraSector Pro Svc   82.71 +3.95 (+5.02%)
 3  0P0001QK3K USS Luxembourg Fund Series - New Wo...  109.26 +5.07 (+4.87%)
 4  0P0001ICKW Isatis Investment Mexico Milta Equi...  140.88 +6.40 (+4.76%)

   Change %
 0   +7.39%
 1   +5.03%
 2   +5.02%
 3   +4.87%
 4   +4.76%  ,
                                                 Name                  Price  \
 0              POIVX iMGP Oldfield Internatl Val Ins      5.93 0.00 (0.00%)
 1  NMEDX Northern Funds - Multi-Manager Emerging ...   7.38 -7.05 (-48.85%)
 2         0P0001T9Z1 CSOP Ether ETF Unlisted Share C    5.84 -0.38 (-6.19%)
 3     0P00016PO2 Leo Portfolios SIF Petram A USD acc  113.18 -6.01 (-5.04%)
 4  TGJNX TCW Funds, Inc. - TCW Artificial Intelli...   23.41 -0.81 (-3.34%)

   Change %
 0    0.00%
 1  -48.85%
 2   -6.19%
 3   -5.04%
 4   -3.34%  ,
                                                 Name                    Price  \
 0  0P0001FTY0 Nomura Fixed Inc Rsk Pre UCITS S US...    147.71 +0.89 (+0.61%)
 1     0P0001IO36.L Janus Henderson Balanced I1m HGBP  1,356.00 +2.00 (+0.15%)
 2                     0P00000X72 Emerging World Inst    105.34 +0.12 (+0.11%)
 3           0P00007VNU AXA IM Global EM Eq QI B(USD)     18.07 +0.04 (+0.22%)
 4  0P00001T1F SEI GMF Global Equity USD Instl+ H Acc     23.36 +0.09 (+0.39%)

   Change %
 0   +0.61%
 1   +0.15%
 2   +0.11%
 3   +0.22%
 4   +0.39%  ,
                                            Name                  Price  \
 0  RMQAX Rydex Monthly Rbl NASDAQ-100 2x Strt A  555.33 +0.44 (+0.08%)
 1  RMQHX Rydex Monthly Rbl NASDAQ-100 2x Strt H  569.51 +0.45 (+0.08%)
 2  RMQCX Rydex Monthly Rbl NASDAQ-100 2x Strt C  511.07 +0.39 (+0.08%)
 3          RYVLX Rydex NASDAQ-100 2x Strategy A  509.17 +0.40 (+0.08%)
 4          RYCCX Rydex NASDAQ-100 2x Strategy C  366.56 +0.28 (+0.08%)

   Change %
 0   +0.08%
 1   +0.08%
 2   +0.08%
 3   +0.08%
 4   +0.08%  ,
                                           Name                  Price Change %
 0     KMKYX Kinetics Market Opportunities Inst   61.78 +1.91 (+3.19%)   +3.19%
 1    KMKCX Kinetics Market Opportunities Adv C   56.34 +1.74 (+3.19%)   +3.19%
 2  KMKNX Kinetics Market Opportunities No Load   60.70 +1.87 (+3.18%)   +3.18%
 3    KMKAX Kinetics Market Opportunities Adv A   59.56 +1.83 (+3.17%)   +3.17%
 4                KNPYX Kinetics Paradigm Instl  111.53 +3.40 (+3.14%)   +3.14%]

Escape SQL and include python variable in query

In [54]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///:memory:")

with engine.connect() as conn:
    qr = tx.to_sql(name='dato',con=engine)
    #data = pd.read_sql_table('dato', engine)
    v = input("Enter age: ")
    result = conn.execute(text("SELECT * FROM dato WHERE Age >= :y"), {"y": v})
    for row in result:
        print(tx.loc[row.index])

ID                                       1
Name                        Aiden Martinez
Age                                     29
Highest Degree Earned           Bachelor's
Major                     Computer Science
State                                   CA
Occupation               Software Engineer
Income                               95000
Car Brand                           Toyota
Housing Situation               Live Alone
Rent                                  1800
Name: 0, dtype: object
ID                                             2
Name                                Katia Petrov
Age                                           32
Highest Degree Earned                   Master's
Major                    International Relations
State                                         NY
Occupation                              Diplomat
Income                                    110000
Car Brand                                    BMW
Housing Situation                     Live Alone
Rent                                        2200
Name: 1, dtype: object
ID                                        3
Name                              Raj Patel
Age                                      27
Highest Degree Earned                   PhD
Major                          Neuroscience
State                                    TX
Occupation               Research Scientist
Income                               130000
Car Brand                              Audi
Housing Situation                Live Alone
Rent                                   2500
Name: 2, dtype: object
ID                                         4
Name                            Maya Johnson
Age                                       34
Highest Degree Earned    High School Diploma
Major                                    NaN
State                                     FL
Occupation                    Retail Manager
Income                                 55000
Car Brand                               Ford
Housing Situation          Live with Partner
Rent                                    1400
Name: 3, dtype: object
ID                                   5
Name                       Kwame Nkosi
Age                                 31
Highest Degree Earned      Certificate
Major                       IT Support
State                               GA
Occupation               IT Technician
Income                           62000
Car Brand                        Honda
Housing Situation           Live Alone
Rent                              1300
Name: 4, dtype: object
ID                                      6
Name                          Elena Silva
Age                                    28
Highest Degree Earned           No Degree
Major                                 NaN
State                                  CA
Occupation               Freelance Writer
Income                              75000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1600
Name: 5, dtype: object
ID                                       7
Name                          Daniel Weiss
Age                                     36
Highest Degree Earned             Master's
Major                              Finance
State                                   CO
Occupation               Financial Analyst
Income                              105000
Car Brand                            Lexus
Housing Situation               Live Alone
Rent                                  2000
Name: 6, dtype: object
ID                                             8
Name                                Amira Hassan
Age                                           30
Highest Degree Earned               Trade School
Major                    Electrical Installation
State                                         MI
Occupation                           Electrician
Income                                     68000
Car Brand                                Hyundai
Housing Situation                     Live Alone
Rent                                        1400
Name: 7, dtype: object
ID                                       9
Name                          Javier Gomez
Age                                     33
Highest Degree Earned           Bachelor's
Major                            Marketing
State                                   TX
Occupation               Marketing Manager
Income                               72000
Car Brand                           Toyota
Housing Situation               Live Alone
Rent                                  1500
Name: 8, dtype: object
ID                                 10
Name                         Mei Chen
Age                                29
Highest Degree Earned             PhD
Major                    Biochemistry
State                              CA
Occupation                 Biochemist
Income                         125000
Car Brand                         BMW
Housing Situation          Live Alone
Rent                             2400
Name: 9, dtype: object
ID                                        11
Name                            Olivia White
Age                                       27
Highest Degree Earned                    GED
Major                                    NaN
State                                     FL
Occupation                             Nurse
Income                                 60000
Car Brand                              Honda
Housing Situation        Live with Roommates
Rent                                    1200
Name: 10, dtype: object
ID                                   12
Name                     Tarek El-Masri
Age                                  34
Highest Degree Earned        Bachelor's
Major                      Architecture
State                                NY
Occupation                    Architect
Income                            90000
Car Brand                          Audi
Housing Situation            Live Alone
Rent                               2000
Name: 11, dtype: object
ID                                      13
Name                          Naomi Clarke
Age                                     31
Highest Degree Earned           Bachelor's
Major                        Culinary Arts
State                                   TX
Occupation                            Chef
Income                               65000
Car Brand                             Ford
Housing Situation        Live with Partner
Rent                                  1500
Name: 12, dtype: object
ID                                          14
Name                              Imani Mwangi
Age                                         28
Highest Degree Earned                 Master's
Major                            Public Health
State                                       FL
Occupation               Public Health Advisor
Income                                   68000
Car Brand                               Subaru
Housing Situation                   Live Alone
Rent                                      1300
Name: 13, dtype: object
ID                                         15
Name                          Juanita Morales
Age                                        30
Highest Degree Earned               No Degree
Major                                     NaN
State                                      CA
Occupation               Food Service Manager
Income                                  55000
Car Brand                             Hyundai
Housing Situation                  Live Alone
Rent                                     1100
Name: 14, dtype: object
ID                                             16
Name                                Maxime Dubois
Age                                            32
Highest Degree Earned                         PhD
Major                       Environmental Science
State                                          CO
Occupation               Environmental Consultant
Income                                     115000
Car Brand                                   Lexus
Housing Situation                      Live Alone
Rent                                         2300
Name: 15, dtype: object
ID                                 17
Name                     Priti Sharma
Age                                29
Highest Degree Earned      Bachelor's
Major                       Education
State                              TX
Occupation                    Teacher
Income                          62000
Car Brand                       Honda
Housing Situation          Live Alone
Rent                             1400
Name: 16, dtype: object
ID                                            18
Name                                 Selam Abebe
Age                                           30
Highest Degree Earned                   Master's
Major                    Business Administration
State                                         NY
Occupation                      Business Manager
Income                                     70000
Car Brand                                 Toyota
Housing Situation                     Live Alone
Rent                                        1500
Name: 17, dtype: object
ID                                        19
Name                           Nadia El-Amin
Age                                       33
Highest Degree Earned           Trade School
Major                              Carpentry
State                                     FL
Occupation                         Carpenter
Income                                 65000
Car Brand                               Ford
Housing Situation        Live with Roommates
Rent                                    1300
Name: 18, dtype: object
ID                                     20
Name                         Kai Nakamura
Age                                    27
Highest Degree Earned                 GED
Major                                 NaN
State                                  CA
Occupation               Graphic Designer
Income                              58000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1200
Name: 19, dtype: object
ID                                           21
Name                             Daniel Collins
Age                                          35
Highest Degree Earned                Bachelor's
Major                    Mechanical Engineering
State                                        TX
Occupation                  Mechanical Engineer
Income                                    75000
Car Brand                                  Audi
Housing Situation                    Live Alone
Rent                                       1700
Name: 20, dtype: object
ID                                      22
Name                       Carla Gutierrez
Age                                     30
Highest Degree Earned            No Degree
Major                                  NaN
State                                   FL
Occupation                     Housekeeper
Income                               47000
Car Brand                          Hyundai
Housing Situation        Live with Partner
Rent                                  1000
Name: 21, dtype: object
ID                                   23
Name                       Hugo Sanchez
Age                                  29
Highest Degree Earned          Master's
Major                      Data Science
State                                NY
Occupation               Data Scientist
Income                            85000
Car Brand                           BMW
Housing Situation            Live Alone
Rent                               1800
Name: 22, dtype: object
ID                               24
Name                     Tara Bhatt
Age                              31
Highest Degree Earned           PhD
Major                     Economics
State                            TX
Occupation                Economist
Income                       125000
Car Brand                     Lexus
Housing Situation        Live Alone
Rent                           2200
Name: 23, dtype: object
ID                                           25
Name                                Naomi Ortiz
Age                                          27
Highest Degree Earned                Bachelor's
Major                    Hospitality Management
State                                        FL
Occupation                        Hotel Manager
Income                                    62000
Car Brand                                  Ford
Housing Situation                    Live Alone
Rent                                       1300
Name: 24, dtype: object
ID                                   26
Name                     Jamilah Diallo
Age                                  32
Highest Degree Earned       Certificate
Major                    Event Planning
State                                CA
Occupation                Event Planner
Income                            68000
Car Brand                        Toyota
Housing Situation            Live Alone
Rent                               1400
Name: 25, dtype: object
ID                                         27
Name                                Eric Wong
Age                                        28
Highest Degree Earned     High School Diploma
Major                                     NaN
State                                      TX
Occupation               Sales Representative
Income                                  60000
Car Brand                              Subaru
Housing Situation           Live with Partner
Rent                                     1300
Name: 26, dtype: object
ID                                           28
Name                                 Anwar Aziz
Age                                          30
Highest Degree Earned                 No Degree
Major                                       NaN
State                                        FL
Occupation               Maintenance Technician
Income                                    50000
Car Brand                                 Honda
Housing Situation                    Live Alone
Rent                                       1100
Name: 27, dtype: object
ID                                29
Name                     Luna Garcia
Age                               31
Highest Degree Earned            PhD
Major                      Sociology
State                             NY
Occupation               Sociologist
Income                        105000
Car Brand                       Audi
Housing Situation         Live Alone
Rent                            2000
Name: 28, dtype: object
ID                                    30
Name                         Ronak Patel
Age                                   33
Highest Degree Earned       Trade School
Major                               HVAC
State                                 TX
Occupation               HVAC Technician
Income                             62000
Car Brand                         Toyota
Housing Situation             Live Alone
Rent                                1400
Name: 29, dtype: object
ID                                       31
Name                          Heather Smith
Age                                      29
Highest Degree Earned              Master's
Major                             Marketing
State                                    FL
Occupation               Marketing Director
Income                                72000
Car Brand                             Lexus
Housing Situation                Live Alone
Rent                                   1600
Name: 30, dtype: object
ID                                      32
Name                           Yara Haddad
Age                                     30
Highest Degree Earned           Bachelor's
Major                              Finance
State                                   CA
Occupation               Financial Advisor
Income                               68000
Car Brand                              BMW
Housing Situation               Live Alone
Rent                                  1500
Name: 31, dtype: object
ID                                      33
Name                         Otis Thompson
Age                                     28
Highest Degree Earned                  GED
Major                                  NaN
State                                   TX
Occupation                   Store Manager
Income                               56000
Car Brand                             Ford
Housing Situation        Live with Partner
Rent                                  1400
Name: 32, dtype: object
ID                                     34
Name                             Mei Wong
Age                                    32
Highest Degree Earned         Certificate
Major                    Content Creation
State                                  NY
Occupation                Content Creator
Income                              65000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1300
Name: 33, dtype: object
ID                                  35
Name                     Julian Torres
Age                                 30
Highest Degree Earned        No Degree
Major                              NaN
State                               FL
Occupation                     Janitor
Income                           48000
Car Brand                      Hyundai
Housing Situation           Live Alone
Rent                              1000
Name: 34, dtype: object
ID                                         36
Name                             Anika Sharma
Age                                        34
Highest Degree Earned              Bachelor's
Major                    Chemical Engineering
State                                      TX
Occupation                  Chemical Engineer
Income                                  75000
Car Brand                              Toyota
Housing Situation                  Live Alone
Rent                                     1600
Name: 35, dtype: object
ID                                   37
Name                     Lionel Johnson
Age                                  29
Highest Degree Earned               PhD
Major                      Astrophysics
State                                CA
Occupation               Astrophysicist
Income                           120000
Car Brand                          Audi
Housing Situation            Live Alone
Rent                               2300
Name: 36, dtype: object
ID                                 38
Name                     Amal Youssef
Age                                30
Highest Degree Earned    Trade School
Major                        Plumbing
State                              FL
Occupation                    Plumber
Income                          65000
Car Brand                       Lexus
Housing Situation          Live Alone
Rent                             1400
Name: 37, dtype: object
ID                                            39
Name                                 Priya Singh
Age                                           28
Highest Degree Earned                 Bachelor's
Major                      Environmental Studies
State                                         TX
Occupation               Environmental Scientist
Income                                     68000
Car Brand                                  Honda
Housing Situation                     Live Alone
Rent                                        1500
Name: 38, dtype: object
ID                                   40
Name                     Mateo Castillo
Age                                  31
Highest Degree Earned          Master's
Major                       Social Work
State                                NY
Occupation                Social Worker
Income                            69000
Car Brand                          Ford
Housing Situation            Live Alone
Rent                               1400
Name: 39, dtype: object