In [23]:
from datetime import date
from flask import Flask, render_template, request, url_for
import string
import pandas as pd
from sqlalchemy import create_engine

pd.options.display.max_rows = 100
tx = pd.read_excel('Records.xlsx', usecols="A:K")
# tx.fillna("N/A", inplace = True)
# tx.drop_duplicates(inplace = True)
# d = list(tx.values.tolist()) 

print(tx)

#print(tx.index.values)
# for x in tx.index.values:
# for y in tx.columns.values:
#     print(tx)

# v = input('Enter the Major: ')	
# tx.loc[tx.isin([v]).any(axis=1)]

# o = list()
# for x in tx.index.values:
#     for y in tx.columns.values:
#         o.append(tx.at[x,y])

# for z in o:
#     print(z)

# SQL QUERIES in python
# {% endfor %} {% for y in tx.index.values %}
# engine = create_engine("sqlite:///:memory:")
    # tx.to_sql(name='dato',con=engine)
    # with engine.connect() as conn, conn.begin():  
    #     # data = pd.read_sql_table('dato', engine)
    #     qr = pd.read_sql_query(
    #         SELECT *
    #         FROM dato
    #         WHERE Major = "Computer Science"
    #         , engine)

      ID             Name  Age   Highest Degree Earned  \
0      1   Aiden Martinez   29              Bachelor's
1      2     Katia Petrov   32                Master's
2      3        Raj Patel   27                     PhD
3      4     Maya Johnson   34     High School Diploma
4      5      Kwame Nkosi   31             Certificate
..   ...              ...  ...                     ...
495  496       Omar Saeed   29     High School Diploma
496  497     Lucy Johnson   32             Certificate
497  498  Daniel Martinez   28  Non-Traditional Degree
498  499        Aisha Ali   30                     PhD
499  500     Kelvin Brown   34              Bachelor's

                       Major State          Occupation  Income Car Brand  \
0           Computer Science    CA   Software Engineer   95000    Toyota
1    International Relations    NY            Diplomat  110000       BMW
2               Neuroscience    TX  Research Scientist  130000      Audi
3                        NaN    FL      Retail Manager   55000      Ford
4                 IT Support    GA       IT Technician   62000     Honda
..                       ...   ...                 ...     ...       ...
495                      NaN    TX     Sales Executive   50000      Ford
496           Fashion Design    FL    Fashion Designer   58000   Hyundai
497          Web Development    CA       Web Developer   59000    Toyota
498             Neuroscience    TX      Neuroscientist  105000      Audi
499             Architecture    FL           Architect   78000       BMW

     Housing Situation  Rent
0           Live Alone  1800
1           Live Alone  2200
2           Live Alone  2500
3    Live with Partner  1400
4           Live Alone  1300
..                 ...   ...
495         Live Alone  1200
496         Live Alone  1300
497         Live Alone  1200
498         Live Alone  2000
499         Live Alone  1600

[500 rows x 11 columns]

In [3]:
import pandas as pd

url = "https://finance.yahoo.com/markets/"
pd.read_html(url)

[                      Name  Day Chart                       Price Change %
 0                  S&P 500        NaN   5,720.59 +102.33 (+1.82%)   +1.82%
 1                   Dow 30        NaN  42,027.45 +524.35 (+1.26%)   +1.26%
 2                   Nasdaq        NaN  18,060.10 +486.79 (+2.77%)   +2.77%
 3             Russell 2000        NaN    2,247.68 +41.35 (+1.87%)   +1.87%
 4                      VIX        NaN        16.67 -1.56 (-8.56%)   -8.56%
 5                 IBOVESPA        NaN  133,788.27 +40.58 (+0.03%)   +0.03%
 6  S&P/TSX Composite index        NaN  23,853.07 +260.47 (+1.10%)   +1.10%
 7          US Dollar Index        NaN       100.71 +0.12 (+0.12%)   +0.12%,
                     Name  Day Chart                       Price Change %
 0               FTSE 100        NaN    8,328.72 +75.04 (+0.91%)   +0.91%
 1                 CAC 40        NaN   7,615.41 +170.51 (+2.29%)   +2.29%
 2  DAX PERFORMANCE-INDEX        NaN  19,002.38 +290.89 (+1.55%)   +1.55%
 3     Euronext 100 Index        NaN    1,492.06 +27.57 (+1.88%)   +1.88%
 4         ESTX 50 PR.EUR        NaN   4,943.38 +108.08 (+2.24%)   +2.24%
 5            MSCI EUROPE        NaN    2,215.73 +35.59 (+1.63%)   +1.63%
 6    British Pound Index        NaN       132.80 +0.71 (+0.53%)   +0.53%
 7             Euro Index        NaN       111.49 +0.30 (+0.27%)   +0.27%,
                       Name  Day Chart                       Price Change %
 0      SSE Composite Index        NaN    2,736.02 +18.74 (+0.69%)   +0.69%
 1               Nikkei 225        NaN  37,155.33 +775.16 (+2.13%)   +2.13%
 2                Hang Seng        NaN  18,013.16 +353.14 (+2.00%)   +2.00%
 3        S&P/ASX 200 [XJO]        NaN    8,191.90 +49.80 (+0.61%)   +0.61%
 4    KOSPI Composite Index        NaN     2,580.80 +5.39 (+0.21%)   +0.21%
 5           S&P BSE SENSEX        NaN  83,184.80 +236.57 (+0.29%)   +0.29%
 6       Japanese Yen Index        NaN        69.94 -0.37 (-0.52%)   -0.52%
 7  Australian Dollar Index        NaN        68.19 +0.56 (+0.83%)   +0.83%,
                               Name  Day Chart                     Price  \
 0                        Crude Oil        NaN      72.43 +1.52 (+2.14%)
 1                             Gold        NaN  2,615.30 +16.70 (+0.64%)
 2                           Silver        NaN      31.44 +0.75 (+2.45%)
 3                    Copper Dec 24        NaN   4.3505 +0.0515 (+1.20%)
 4               Natural Gas Oct 24        NaN   2.3320 +0.0480 (+2.10%)
 5  Brent Crude Oil Last Day Financ        NaN      75.07 +1.42 (+1.93%)

   Change %
 0   +2.14%
 1   +0.64%
 2   +2.45%
 3   +1.20%
 4   +2.10%
 5   +1.93%  ,
       Name  Day Chart                      Price Change %
 0  EUR/USD        NaN    1.1153 +0.0031 (+0.28%)   +0.28%
 1  USD/JPY        NaN  142.9790 +0.8200 (+0.58%)   +0.58%
 2  USD/GBP        NaN    0.7530 -0.0041 (-0.54%)   -0.54%
 3  USD/AUD        NaN    1.4666 -0.0114 (-0.77%)   -0.77%
 4  USD/CAD        NaN    1.3557 -0.0044 (-0.33%)   -0.33%
 5  USD/MXN        NaN   19.2271 -0.0401 (-0.21%)   -0.21%,
                    Name  Day Chart                    Price Change %
 0            13-Wk Bond        NaN  4.6050 -0.0100 (-0.22%)   -0.22%
 1             5-Yr Bond        NaN  3.5050 +0.0400 (+1.15%)   +1.15%
 2            10-Yr Bond        NaN  3.7380 +0.0530 (+1.44%)   +1.44%
 3            30-Yr Bond        NaN  4.0720 +0.0640 (+1.60%)   +1.60%
 4      2 Yr Yld Futures        NaN  3.5510 +0.0120 (+0.34%)   +0.34%
 5  10 Yr T-Note Futures        NaN    114.73 -0.34 (-0.30%)   -0.30%,
                             Symbol                   Price  Change Change %  \
 0          NVDA NVIDIA Corporation   119.00 +5.62 (+4.96%)    5.62   +4.96%
 1                     NIO NIO Inc.     5.34 +0.32 (+6.27%)    0.32   +6.27%
 2                 TSLA Tesla, Inc.  242.13 +14.93 (+6.57%)   14.93   +6.57%
 3           INTC Intel Corporation    21.36 +0.59 (+2.86%)    0.59   +2.86%
 4  PLTR Palantir Technologies Inc.    36.92 +0.54 (+1.50%)    0.54   +1.50%
 5                  AAPL Apple Inc.   229.07 +8.38 (+3.80%)    8.38   +3.80%
 6     SOFI SoFi Technologies, Inc.     8.41 +0.30 (+3.70%)    0.30   +3.70%
 7         MARA MARA Holdings, Inc.    15.88 +0.54 (+3.52%)    0.54   +3.52%

      Volume Avg Vol (3M) Market Cap P/E Ratio (TTM) 52 Wk Change %  \
 0  154.196M     340.715M     2.919T           55.87        176.40%
 1   61.666M       45.46M    12.115B               -        -40.59%
 2   59.866M       95.59M   773.518B           67.82        -11.15%
 3   42.344M      73.326M    91.357B           89.02        -40.06%
 4   33.148M      50.737M    82.692B          217.21        159.86%
 5   32.027M      55.963M     3.483T           34.81         26.88%
 6   31.104M      40.076M     8.964B               -          2.01%
 7   25.199M      39.752M     4.676B           17.64         67.47%

    52 Wk Range  Day Chart
 0          NaN        NaN
 1          NaN        NaN
 2          NaN        NaN
 3          NaN        NaN
 4          NaN        NaN
 5          NaN        NaN
 6          NaN        NaN
 7          NaN        NaN  ,
                           Symbol                         Price       Change  \
 0            BTC-USD Bitcoin USD  63,241.32 +3,619.60 (+6.07%)  3619.600000
 1           ETH-USD Ethereum USD     2,446.95 +145.12 (+6.30%)   145.120000
 2       USDT-USD Tether USDt USD       1.0002 +0.0002 (+0.02%)     0.000200
 3                BNB-USD BNB USD        566.06 +26.39 (+4.89%)    26.390000
 4             SOL-USD Solana USD       143.03 +14.85 (+11.58%)    14.850000
 5          USDC-USD USD Coin USD       1.0001 +0.0001 (+0.01%)     0.000100
 6                XRP-USD XRP USD   0.588604 +0.021455 (+3.78%)     0.021455
 7  STETH-USD Lido Staked ETH USD     2,436.67 +137.52 (+5.98%)   137.520000

   Change %  Day Chart Market Cap   Volume Volume In Currency (24hr)  \
 0   +6.07%        NaN     1.249T  51.691B                   51.691B
 1   +6.30%        NaN   294.478B   21.88B                    21.88B
 2   +0.02%        NaN   118.912B  79.133B                   79.133B
 3   +4.89%        NaN    82.608B   1.958B                    1.958B
 4  +11.58%        NaN    67.008B   3.286B                    3.286B
 5   +0.01%        NaN    35.452B   8.681B                    8.681B
 6   +3.78%        NaN    33.189B   1.344B                    1.344B
 7   +5.98%        NaN    23.764B  63.079M                   63.079M

   Total Volume All Currencies (24hr) Circulating Supply 52 Wk Change %  \
 0                            51.691B            19.756M        132.05%
 1                             21.88B           120.345M         49.58%
 2                            79.133B           118.892B          0.04%
 3                             1.958B           145.934M        165.21%
 4                             3.286B           468.486M        587.88%
 5                             8.681B            35.451B         -0.02%
 6                             1.344B            56.386B         15.39%
 7                            63.079M             9.753M         48.33%

    52 Wk Range
 0          NaN
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN  ,
                                                Name                  Price  \
 0                 SQQQ ProShares UltraPro Short QQQ    7.68 -0.71 (-8.51%)
 1  SOXL Direxion Daily Semiconductor Bull 3X Shares  35.67 +4.53 (+14.55%)
 2  SOXS Direxion Daily Semiconductor Bear 3X Shares  21.32 -3.60 (-14.45%)
 3           TSLL Direxion Daily TSLA Bull 2X Shares  12.01 +1.39 (+13.04%)
 4                       TQQQ ProShares UltraPro QQQ   71.21 +5.59 (+8.52%)

   Change %
 0   -8.51%
 1  +14.55%
 2  -14.45%
 3  +13.04%
 4   +8.52%  ,
                                                 Name                  Price  \
 0  MSTX Tidal Trust II - Defiance Daily Target 1....  23.04 +3.58 (+18.40%)
 1   SOXL Direxion Daily Semiconductor Bull 3X Shares  35.67 +4.53 (+14.55%)
 2          TSLR Graniteshares 2x Long TSLA Daily ETF  18.38 +2.16 (+13.33%)
 3            TSLL Direxion Daily TSLA Bull 2X Shares  12.01 +1.39 (+13.04%)
 4          TSLT T-Rex 2X Long Tesla Daily Target ETF  16.35 +1.89 (+13.07%)

   Change %
 0  +18.40%
 1  +14.55%
 2  +13.33%
 3  +13.04%
 4  +13.07%  ,
                                                Name                  Price  \
 0    SMST Defiance Daily Target 1.5X Short MSTR ETF  15.30 -2.86 (-15.64%)
 1  SOXS Direxion Daily Semiconductor Bear 3X Shares  21.32 -3.60 (-14.45%)
 2                TSLQ Tradr 2X Short TSLA Daily ETF  21.80 -3.29 (-13.11%)
 3      TSLZ T-Rex 2X Inverse Tesla Daily Target ETF  12.19 -1.82 (-12.96%)
 4        TSDD Graniteshares 2x Short TSLA Daily ETF   7.79 -1.16 (-12.96%)

   Change %
 0  -15.64%
 1  -14.45%
 2  -13.11%
 3  -12.96%
 4  -12.96%  ,
                                                 Name                   Price  \
 0         BBUS JPMorgan BetaBuilders U.S. Equity ETF   103.20 +1.84 (+1.81%)
 1                    SPLG SPDR Portfolio S&P 500 ETF    67.23 +1.19 (+1.80%)
 2    SCHR Schwab Intermediate-Term U.S. Treasury ETF    50.67 -0.03 (-0.07%)
 3  SPTM SPDR Portfolio S&P 1500 Composite Stock M...    69.86 +1.25 (+1.83%)
 4                       IVV iShares Core S&P 500 ETF  574.77 +10.26 (+1.82%)

   Change %
 0   +1.81%
 1   +1.80%
 2   -0.07%
 3   +1.83%
 4   +1.82%  ,
                                                 Name                    Price  \
 0   SOXL Direxion Daily Semiconductor Bull 3X Shares    35.67 +4.53 (+14.55%)
 1      TECL Direxion Daily Technology Bull 3X Shares    85.89 +7.88 (+10.10%)
 2  NAIL Direxion Daily Homebuilders & Supplies Bu...    172.93 +9.21 (+5.63%)
 3                        TQQQ ProShares UltraPro QQQ     71.21 +5.59 (+8.52%)
 4     FNGU MicroSectors FANG+ Index 3X Leveraged ETN  424.11 +42.11 (+11.02%)

   Change %
 0  +14.55%
 1  +10.10%
 2   +5.63%
 3   +8.52%
 4  +11.02%  ,
                                         Name                   Price Change %
 0                    QLD ProShares Ultra QQQ    99.33 +5.36 (+5.70%)   +5.70%
 1             SOXX iShares Semiconductor ETF  228.30 +10.58 (+4.86%)   +4.86%
 2               SMH VanEck Semiconductor ETF  242.14 +11.08 (+4.80%)   +4.80%
 3             PSI Invesco Semiconductors ETF    55.76 +2.48 (+4.65%)   +4.65%
 4  FTXL First Trust Nasdaq Semiconductor ETF    91.88 +3.90 (+4.43%)   +4.43%,
                                                 Name                  Price  \
 0  0P0001QK3K USS Luxembourg Fund Series - New Wo...  109.26 +5.07 (+4.87%)
 1      0P0001A9KH Pentaris Bares US Equity F USD Dis  126.82 +5.83 (+4.82%)
 2  0P0001ICKW Isatis Investment Mexico Milta Equi...  140.88 +6.40 (+4.76%)
 3  0P0001DXKR Isatis Investment Mexico Milta Equi...  124.46 +5.62 (+4.73%)
 4            0P0000A413 Pembroke American Growth Inc   43.39 +1.94 (+4.68%)

   Change %
 0   +4.87%
 1   +4.82%
 2   +4.76%
 3   +4.73%
 4   +4.68%  ,
                                                 Name                  Price  \
 0  NMEDX Northern Funds - Multi-Manager Emerging ...   7.38 -7.05 (-48.85%)
 1                                           MMNFX --   5.50 -1.28 (-18.88%)
 2                                           MMZMX --  21.44 -2.76 (-11.40%)
 3         0P0001T9Z1 CSOP Ether ETF Unlisted Share C    5.84 -0.38 (-6.19%)
 4     0P00016PO2 Leo Portfolios SIF Petram A USD acc  113.18 -6.01 (-5.04%)

   Change %
 0  -48.85%
 1  -18.88%
 2  -11.40%
 3   -6.19%
 4   -5.04%  ,
                                                 Name                   Price  \
 0   0P0001FE87 LGT Crown Listed Private Eq C USD Acc  244.85 +11.40 (+4.88%)
 1  0P0000261S New Capital Tactical Opportunities USD  336.90 +21.23 (+6.73%)
 2       0P0000KOQK JPMorgan China Income (acc) - USD    16.41 +0.03 (+0.18%)
 3                      0P00001DS4 JPMorgan Evergreen    32.29 +0.08 (+0.25%)
 4           0P0001EVEG Nomura Fds India Equity T USD   219.13 +0.09 (+0.04%)

   Change %
 0   +4.88%
 1   +6.73%
 2   +0.18%
 3   +0.25%
 4   +0.04%  ,
                                            Name                  Price  \
 0  RMQAX Rydex Monthly Rbl NASDAQ-100 2x Strt A  550.12 -5.21 (-0.94%)
 1  RMQHX Rydex Monthly Rbl NASDAQ-100 2x Strt H  564.17 -5.34 (-0.94%)
 2  RMQCX Rydex Monthly Rbl NASDAQ-100 2x Strt C  506.27 -4.80 (-0.94%)
 3          RYVLX Rydex NASDAQ-100 2x Strategy A  504.42 -4.75 (-0.93%)
 4          RYCCX Rydex NASDAQ-100 2x Strategy C  363.13 -3.43 (-0.94%)

   Change %
 0   -0.94%
 1   -0.94%
 2   -0.94%
 3   -0.93%
 4   -0.94%  ,
                                                 Name                 Price  \
 0             TQMIX AMG TimesSquare Mid Cap Growth I    18.01 0.00 (0.00%)
 1  FMEIX Fidelity Covington Trust - Fidelity Enha...  16.15 +0.12 (+0.75%)
 2        VFPIX Private Capital Management Value Fund  19.28 +0.13 (+0.68%)
 3                 FGTRX Franklin Growth Allocation R  19.89 -0.05 (-0.25%)
 4             FLDGX Meeder Dynamic Allocation Retail  15.35 -0.03 (-0.20%)

   Change %
 0    0.00%
 1   +0.75%
 2   +0.68%
 3   -0.25%
 4   -0.20%  ]

Escape SQL and include python variable in query

In [13]:
from sqlalchemy import create_engine, text
engine = create_engine("sqlite:///:memory:")

tx = pd.read_excel('Records.xlsx', usecols="A:K")
tx.fillna("N/A", inplace = True)
tx.drop_duplicates(inplace = True)

with engine.connect() as conn:
    tx.to_sql(name='dato',con=engine)
    data = pd.read_sql_table('dato', engine)
    v = input("Enter age: ")
    result = conn.execute(text("SELECT * FROM dato WHERE Age >= :y"), {"y": v})
    for row in result:
        print(tx.loc[row.index])

ID                                       1
Name                        Aiden Martinez
Age                                     29
Highest Degree Earned           Bachelor's
Major                     Computer Science
State                                   CA
Occupation               Software Engineer
Income                               95000
Car Brand                           Toyota
Housing Situation               Live Alone
Rent                                  1800
Name: 0, dtype: object
ID                                             2
Name                                Katia Petrov
Age                                           32
Highest Degree Earned                   Master's
Major                    International Relations
State                                         NY
Occupation                              Diplomat
Income                                    110000
Car Brand                                    BMW
Housing Situation                     Live Alone
Rent                                        2200
Name: 1, dtype: object
ID                                        3
Name                              Raj Patel
Age                                      27
Highest Degree Earned                   PhD
Major                          Neuroscience
State                                    TX
Occupation               Research Scientist
Income                               130000
Car Brand                              Audi
Housing Situation                Live Alone
Rent                                   2500
Name: 2, dtype: object
ID                                         4
Name                            Maya Johnson
Age                                       34
Highest Degree Earned    High School Diploma
Major                                    N/A
State                                     FL
Occupation                    Retail Manager
Income                                 55000
Car Brand                               Ford
Housing Situation          Live with Partner
Rent                                    1400
Name: 3, dtype: object
ID                                   5
Name                       Kwame Nkosi
Age                                 31
Highest Degree Earned      Certificate
Major                       IT Support
State                               GA
Occupation               IT Technician
Income                           62000
Car Brand                        Honda
Housing Situation           Live Alone
Rent                              1300
Name: 4, dtype: object
ID                                      6
Name                          Elena Silva
Age                                    28
Highest Degree Earned           No Degree
Major                                 N/A
State                                  CA
Occupation               Freelance Writer
Income                              75000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1600
Name: 5, dtype: object
ID                                       7
Name                          Daniel Weiss
Age                                     36
Highest Degree Earned             Master's
Major                              Finance
State                                   CO
Occupation               Financial Analyst
Income                              105000
Car Brand                            Lexus
Housing Situation               Live Alone
Rent                                  2000
Name: 6, dtype: object
ID                                             8
Name                                Amira Hassan
Age                                           30
Highest Degree Earned               Trade School
Major                    Electrical Installation
State                                         MI
Occupation                           Electrician
Income                                     68000
Car Brand                                Hyundai
Housing Situation                     Live Alone
Rent                                        1400
Name: 7, dtype: object
ID                                       9
Name                          Javier Gomez
Age                                     33
Highest Degree Earned           Bachelor's
Major                            Marketing
State                                   TX
Occupation               Marketing Manager
Income                               72000
Car Brand                           Toyota
Housing Situation               Live Alone
Rent                                  1500
Name: 8, dtype: object
ID                                 10
Name                         Mei Chen
Age                                29
Highest Degree Earned             PhD
Major                    Biochemistry
State                              CA
Occupation                 Biochemist
Income                         125000
Car Brand                         BMW
Housing Situation          Live Alone
Rent                             2400
Name: 9, dtype: object
ID                                        11
Name                            Olivia White
Age                                       27
Highest Degree Earned                    GED
Major                                    N/A
State                                     FL
Occupation                             Nurse
Income                                 60000
Car Brand                              Honda
Housing Situation        Live with Roommates
Rent                                    1200
Name: 10, dtype: object
ID                                   12
Name                     Tarek El-Masri
Age                                  34
Highest Degree Earned        Bachelor's
Major                      Architecture
State                                NY
Occupation                    Architect
Income                            90000
Car Brand                          Audi
Housing Situation            Live Alone
Rent                               2000
Name: 11, dtype: object
ID                                      13
Name                          Naomi Clarke
Age                                     31
Highest Degree Earned           Bachelor's
Major                        Culinary Arts
State                                   TX
Occupation                            Chef
Income                               65000
Car Brand                             Ford
Housing Situation        Live with Partner
Rent                                  1500
Name: 12, dtype: object
ID                                          14
Name                              Imani Mwangi
Age                                         28
Highest Degree Earned                 Master's
Major                            Public Health
State                                       FL
Occupation               Public Health Advisor
Income                                   68000
Car Brand                               Subaru
Housing Situation                   Live Alone
Rent                                      1300
Name: 13, dtype: object
ID                                         15
Name                          Juanita Morales
Age                                        30
Highest Degree Earned               No Degree
Major                                     N/A
State                                      CA
Occupation               Food Service Manager
Income                                  55000
Car Brand                             Hyundai
Housing Situation                  Live Alone
Rent                                     1100
Name: 14, dtype: object
ID                                             16
Name                                Maxime Dubois
Age                                            32
Highest Degree Earned                         PhD
Major                       Environmental Science
State                                          CO
Occupation               Environmental Consultant
Income                                     115000
Car Brand                                   Lexus
Housing Situation                      Live Alone
Rent                                         2300
Name: 15, dtype: object
ID                                 17
Name                     Priti Sharma
Age                                29
Highest Degree Earned      Bachelor's
Major                       Education
State                              TX
Occupation                    Teacher
Income                          62000
Car Brand                       Honda
Housing Situation          Live Alone
Rent                             1400
Name: 16, dtype: object
ID                                            18
Name                                 Selam Abebe
Age                                           30
Highest Degree Earned                   Master's
Major                    Business Administration
State                                         NY
Occupation                      Business Manager
Income                                     70000
Car Brand                                 Toyota
Housing Situation                     Live Alone
Rent                                        1500
Name: 17, dtype: object
ID                                        19
Name                           Nadia El-Amin
Age                                       33
Highest Degree Earned           Trade School
Major                              Carpentry
State                                     FL
Occupation                         Carpenter
Income                                 65000
Car Brand                               Ford
Housing Situation        Live with Roommates
Rent                                    1300
Name: 18, dtype: object
ID                                     20
Name                         Kai Nakamura
Age                                    27
Highest Degree Earned                 GED
Major                                 N/A
State                                  CA
Occupation               Graphic Designer
Income                              58000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1200
Name: 19, dtype: object
ID                                           21
Name                             Daniel Collins
Age                                          35
Highest Degree Earned                Bachelor's
Major                    Mechanical Engineering
State                                        TX
Occupation                  Mechanical Engineer
Income                                    75000
Car Brand                                  Audi
Housing Situation                    Live Alone
Rent                                       1700
Name: 20, dtype: object
ID                                      22
Name                       Carla Gutierrez
Age                                     30
Highest Degree Earned            No Degree
Major                                  N/A
State                                   FL
Occupation                     Housekeeper
Income                               47000
Car Brand                          Hyundai
Housing Situation        Live with Partner
Rent                                  1000
Name: 21, dtype: object
ID                                   23
Name                       Hugo Sanchez
Age                                  29
Highest Degree Earned          Master's
Major                      Data Science
State                                NY
Occupation               Data Scientist
Income                            85000
Car Brand                           BMW
Housing Situation            Live Alone
Rent                               1800
Name: 22, dtype: object
ID                               24
Name                     Tara Bhatt
Age                              31
Highest Degree Earned           PhD
Major                     Economics
State                            TX
Occupation                Economist
Income                       125000
Car Brand                     Lexus
Housing Situation        Live Alone
Rent                           2200
Name: 23, dtype: object
ID                                           25
Name                                Naomi Ortiz
Age                                          27
Highest Degree Earned                Bachelor's
Major                    Hospitality Management
State                                        FL
Occupation                        Hotel Manager
Income                                    62000
Car Brand                                  Ford
Housing Situation                    Live Alone
Rent                                       1300
Name: 24, dtype: object
ID                                   26
Name                     Jamilah Diallo
Age                                  32
Highest Degree Earned       Certificate
Major                    Event Planning
State                                CA
Occupation                Event Planner
Income                            68000
Car Brand                        Toyota
Housing Situation            Live Alone
Rent                               1400
Name: 25, dtype: object
ID                                         27
Name                                Eric Wong
Age                                        28
Highest Degree Earned     High School Diploma
Major                                     N/A
State                                      TX
Occupation               Sales Representative
Income                                  60000
Car Brand                              Subaru
Housing Situation           Live with Partner
Rent                                     1300
Name: 26, dtype: object
ID                                           28
Name                                 Anwar Aziz
Age                                          30
Highest Degree Earned                 No Degree
Major                                       N/A
State                                        FL
Occupation               Maintenance Technician
Income                                    50000
Car Brand                                 Honda
Housing Situation                    Live Alone
Rent                                       1100
Name: 27, dtype: object
ID                                29
Name                     Luna Garcia
Age                               31
Highest Degree Earned            PhD
Major                      Sociology
State                             NY
Occupation               Sociologist
Income                        105000
Car Brand                       Audi
Housing Situation         Live Alone
Rent                            2000
Name: 28, dtype: object
ID                                    30
Name                         Ronak Patel
Age                                   33
Highest Degree Earned       Trade School
Major                               HVAC
State                                 TX
Occupation               HVAC Technician
Income                             62000
Car Brand                         Toyota
Housing Situation             Live Alone
Rent                                1400
Name: 29, dtype: object
ID                                       31
Name                          Heather Smith
Age                                      29
Highest Degree Earned              Master's
Major                             Marketing
State                                    FL
Occupation               Marketing Director
Income                                72000
Car Brand                             Lexus
Housing Situation                Live Alone
Rent                                   1600
Name: 30, dtype: object
ID                                      32
Name                           Yara Haddad
Age                                     30
Highest Degree Earned           Bachelor's
Major                              Finance
State                                   CA
Occupation               Financial Advisor
Income                               68000
Car Brand                              BMW
Housing Situation               Live Alone
Rent                                  1500
Name: 31, dtype: object
ID                                      33
Name                         Otis Thompson
Age                                     28
Highest Degree Earned                  GED
Major                                  N/A
State                                   TX
Occupation                   Store Manager
Income                               56000
Car Brand                             Ford
Housing Situation        Live with Partner
Rent                                  1400
Name: 32, dtype: object
ID                                     34
Name                             Mei Wong
Age                                    32
Highest Degree Earned         Certificate
Major                    Content Creation
State                                  NY
Occupation                Content Creator
Income                              65000
Car Brand                          Subaru
Housing Situation              Live Alone
Rent                                 1300
Name: 33, dtype: object
ID                                  35
Name                     Julian Torres
Age                                 30
Highest Degree Earned        No Degree
Major                              N/A
State                               FL
Occupation                     Janitor
Income                           48000
Car Brand                      Hyundai
Housing Situation           Live Alone
Rent                              1000
Name: 34, dtype: object
ID                                         36
Name                             Anika Sharma
Age                                        34
Highest Degree Earned              Bachelor's
Major                    Chemical Engineering
State                                      TX
Occupation                  Chemical Engineer
Income                                  75000
Car Brand                              Toyota
Housing Situation                  Live Alone
Rent                                     1600
Name: 35, dtype: object
ID                                   37
Name                     Lionel Johnson
Age                                  29
Highest Degree Earned               PhD
Major                      Astrophysics
State                                CA
Occupation               Astrophysicist
Income                           120000
Car Brand                          Audi
Housing Situation            Live Alone
Rent                               2300
Name: 36, dtype: object
ID                                 38
Name                     Amal Youssef
Age                                30
Highest Degree Earned    Trade School
Major                        Plumbing
State                              FL
Occupation                    Plumber
Income                          65000
Car Brand                       Lexus
Housing Situation          Live Alone
Rent                             1400
Name: 37, dtype: object
ID                                            39
Name                                 Priya Singh
Age                                           28
Highest Degree Earned                 Bachelor's
Major                      Environmental Studies
State                                         TX
Occupation               Environmental Scientist
Income                                     68000
Car Brand                                  Honda
Housing Situation                     Live Alone
Rent                                        1500
Name: 38, dtype: object
ID                                   40
Name                     Mateo Castillo
Age                                  31
Highest Degree Earned          Master's
Major                       Social Work
State                                NY
Occupation                Social Worker
Income                            69000
Car Brand                          Ford
Housing Situation            Live Alone
Rent                               1400
Name: 39, dtype: object