In [2]:
from datetime import date
from flask import Flask, render_template, request, url_for
import string
import pandas as pd
from sqlalchemy import create_engine

pd.options.display.max_rows = 100
tx = pd.read_excel('Records.xlsx', usecols="A:K")
# tx.fillna("N/A", inplace = True)
# tx.drop_duplicates(inplace = True)
# d = list(tx.values.tolist()) 


print(tx)

#print(tx.index.values)
# for x in tx.index.values:
# for y in tx.columns.values:
#     print(tx)

# v = input('Enter the Major: ')	
# tx.loc[tx.isin([v]).any(axis=1)]

# o = list()
# for x in tx.index.values:
#     for y in tx.columns.values:
#         o.append(tx.at[x,y])

# for z in o:
#     print(z)


# {% endfor %} {% for y in tx.index.values %}
# engine = create_engine("sqlite:///:memory:")
    # tx.to_sql(name='dato',con=engine)
    # with engine.connect() as conn, conn.begin():  
    #     # data = pd.read_sql_table('dato', engine)
    #     qr = pd.read_sql_query(
    #         SELECT *
    #         FROM dato
    #         WHERE Major = "Computer Science"
    #         , engine)

      ID             Name  Age   Highest Degree Earned  \
0      1   Aiden Martinez   29              Bachelor's
1      2     Katia Petrov   32                Master's
2      3        Raj Patel   27                     PhD
3      4     Maya Johnson   34     High School Diploma
4      5      Kwame Nkosi   31             Certificate
..   ...              ...  ...                     ...
495  496       Omar Saeed   29     High School Diploma
496  497     Lucy Johnson   32             Certificate
497  498  Daniel Martinez   28  Non-Traditional Degree
498  499        Aisha Ali   30                     PhD
499  500     Kelvin Brown   34              Bachelor's

                       Major State          Occupation  Income Car Brand  \
0           Computer Science    CA   Software Engineer   95000    Toyota
1    International Relations    NY            Diplomat  110000       BMW
2               Neuroscience    TX  Research Scientist  130000      Audi
3                        NaN    FL      Retail Manager   55000      Ford
4                 IT Support    GA       IT Technician   62000     Honda
..                       ...   ...                 ...     ...       ...
495                      NaN    TX     Sales Executive   50000      Ford
496           Fashion Design    FL    Fashion Designer   58000   Hyundai
497          Web Development    CA       Web Developer   59000    Toyota
498             Neuroscience    TX      Neuroscientist  105000      Audi
499             Architecture    FL           Architect   78000       BMW

     Housing Situation  Rent
0           Live Alone  1800
1           Live Alone  2200
2           Live Alone  2500
3    Live with Partner  1400
4           Live Alone  1300
..                 ...   ...
495         Live Alone  1200
496         Live Alone  1300
497         Live Alone  1200
498         Live Alone  2000
499         Live Alone  1600

[500 rows x 11 columns]